* {
    margin: 0;
    padding: 0;
}

nav{
    background-color: #eb5353;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}
nav ul {
 
    display: flex;
    justify-content: flex-end;
    list-style: none;
    text-decoration: none;
}

nav a {
    text-decoration: none;
}


nav li {
    margin: 0 20px 0 20px;
}

#ropa {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    
}
#ropa img {
    width: 200px;
    
    object-fit: cover;
}

.ropaBox {
    border:solid 1px black;
    width: 200px;
    margin-top: 20px;
}
.ropaBox p{
    text-align: center;
}

footer{
    margin-top: 20px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #eb5353;


}